.cards-box {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    &__item {
        padding: 30px;
        border: 1px solid #D3D8E4;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        &--first::before {
            @include card-pseudo(var(--color1), "Category | Marketing");
        }
        &--second::before {
            @include card-pseudo(var(--color1), "Category");
        }
        &--third::before {
            @include card-pseudo(var(--color2), "Category | Development");
        }
        &--fourth::before {
            @include card-pseudo(var(--color2), "Category | Marketing");
        }
        &--fifth::before {
            @include card-pseudo(var(--color1), "Category | Marketing");
        }
        &--sixth::before {
            @include card-pseudo(var(--color2), "Category");
        }
    }
    &__img {
        width: 100%;
    }
    &__name {
        margin: 20px 0 6px;
        font-size: 0.9rem;
        &--light-blue {
            color: var(--color1);
        }
        &--blue {
            color: var(--color2);
        }
    }
    &__title {
        font-size: 1.4rem;
    }
    &__text {
        margin: 16px auto 30px;
    }
}

@media screen and (max-width: 1200px) {
    .cards-box {
        grid-template-columns: repeat(2, 455px);
        justify-content: center;
        &__title {
            font-size: 1.25rem;
        }
    }
    .invisible {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 992px) {
    .cards-box {
        grid-template-columns: repeat(2, 345px);
        &__item {
            padding: 28px;
        }
        &__name {
            margin: 18px 0 6px;
            font-size: 0.75rem;
        }
        &__title {
            font-size: 1.13rem;
        }
        &__text {
            font-size: 0.88rem;
            margin: 12px auto 26px;
        }
    }
}

@media screen and (max-width: 768px) {
    .cards-box {
        grid-template-columns: repeat(2, 258px);
        &__item {
            padding: 16px;
        }
        &__name {
            margin: 12px 0 6px;
            font-size: 0.75rem;
        }
        &__text {
            font-size: 0.88rem;
            margin: 10px auto 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .cards-box {
        grid-template-columns: 1fr;
    }
}